#u583-4
{
	font-family: economica-n4, sans-serif;
}

#u566-4
{
	font-family: economica-n4, sans-serif;
}

#u571-4
{
	font-family: economica-n4, sans-serif;
}

#u557-4
{
	font-family: economica-n4, sans-serif;
}

#u597-4
{
	font-family: economica-n4, sans-serif;
}

#u593-4
{
	font-family: economica-n4, sans-serif;
}

#u580-4
{
	font-family: economica-n4, sans-serif;
}

#u372-7,#u743-4
{
	font-family: open-sans-i3, sans-serif;
}

#u387-5,#u387-6,#u387-8,#u387-10,#u387-12,#u387-14,#u387-16,#u387-18,#u387-20,#u387-22,#u387-24,#u387-26
{
	font-family: open-sans-i4, sans-serif;
}

#u405-5,#u406-7,#u406-12,#u404-5,#u404-10,#u790-14,#u790-25,#u790-30,#u790-38,#u790-43,#u789-9,#u789-14,#u789-20,#u789-22,#u792,#u792-5,#u792-9,#u793-4,#u793-57,#u381-3,#u381-5,#u380-2,#u380-7,#u380-12,#u744-2,#u744-7,#u744-12
{
	font-family: open-sans-n7, sans-serif;
}

#u393-4,#u394-4,#u398-4,#u399-4,#u402-4,#u403-4,#u788-4,#u791-4,#u409-4,#u384-4,#u385-4,#u379-4,#u375-4,#u407-4
{
	font-family: '__Pale Blue Eyes_5';
}

#u395-8,#u405-9,#u406-2,#u406-4,#u406-5,#u406-9,#u406-10,#u406-14,#u406-15,#u406-16,#u404-2,#u404-3,#u404-7,#u404-8,#u404-12,#u404-13,#u790-5,#u790-6,#u790-8,#u790-9,#u790-11,#u790-12,#u790-22,#u790-23,#u790-27,#u790-28,#u790-32,#u790-33,#u790-35,#u790-36,#u790-40,#u790-41,#u790-45,#u790-46,#u790-47,#u789-2,#u789-3,#u789-6,#u789-7,#u789-11,#u789-12,#u789-19,#u789-27,#u789-28,#u789-30,#u789-31,#u789-33,#u789-34,#u789-36,#u789-37,#u792-14,#u793-67,#u387-2,#u387-3,#u387-27,#u387-29,#u387-30,#u387-32,#u386-22,#u381-2,#u381-7,#u381-8,#u381-9,#u381-10,#u381-11,#u380-4,#u380-5,#u380-9,#u380-10,#u380-14,#u380-15,#u380-16,#u380-17,#u744-4,#u744-5,#u744-9,#u744-10,#u744-14,#u744-15,#u744-16,#u744-17,#u744-18,#u744-19,#u744-20,#u744-21,#u408-9
{
	font-family: open-sans-n4, sans-serif;
}

