/*

*/

.version.index /* version checker */
{
	color: #0000FA;
	background-color: #18490B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 13201px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 224px;
	width: 0.01px;
}

#u602-3
{
	z-index: 446;
	min-height: 79px;
	top: 0px;
}

#u602-3-bw
{
	z-index: 446;
}

#menuu552
{
	z-index: 449;
	width: 1009px;
	top: 0px;
	left: 50%;
	margin-left: -499px;
}

#u581
{
	width: 142px;
	min-height: 79px;
	margin-right: -10000px;
}

#u582
{
	width: 142px;
	padding-bottom: 55px;
}

#u582:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u582:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u583-4
{
	width: 142px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u582:hover #u583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u582:active #u583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	width: 142px;
	min-height: 79px;
	margin-right: -10000px;
	left: 144px;
}

#u563
{
	width: 142px;
	padding-bottom: 55px;
}

#u582.MuseMenuActive,#u563:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u563:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u566-4
{
	width: 142px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u582.MuseMenuActive #u583-4,#u563:hover #u566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u563:active #u566-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u567
{
	width: 142px;
	min-height: 79px;
	margin-right: -10000px;
	left: 288px;
}

#u570
{
	width: 142px;
	padding-bottom: 55px;
}

#u563.MuseMenuActive,#u570:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u570:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u571-4
{
	width: 142px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u563.MuseMenuActive #u566-4,#u570:hover #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u570:active #u571-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 142px;
	min-height: 79px;
	margin-right: -10000px;
	left: 432px;
}

#u554
{
	width: 142px;
	padding-bottom: 55px;
}

#u570.MuseMenuActive,#u554:hover
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u554:active
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u557-4
{
	width: 142px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u570.MuseMenuActive #u571-4,#u554:hover #u557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u554:active #u557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 142px;
	margin: 0px -10000px 0px 0px;
}

#u595
{
	width: 143px;
	min-height: 79px;
	margin-right: -10000px;
	left: 576px;
}

#u596
{
	width: 143px;
	padding-bottom: 55px;
}

#u596:hover
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u596:active
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u597-4
{
	width: 143px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u596:hover #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u596:active #u597-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u588
{
	width: 143px;
	min-height: 79px;
	margin-right: -10000px;
	left: 721px;
}

#u591
{
	width: 143px;
	padding-bottom: 55px;
}

#u596.MuseMenuActive,#u591:hover
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u591:active
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u593-4
{
	width: 143px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u596.MuseMenuActive #u597-4,#u591:hover #u593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u591:active #u593-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u574
{
	width: 143px;
	min-height: 79px;
	margin-right: -10000px;
	left: 866px;
}

#u577
{
	width: 143px;
	padding-bottom: 55px;
}

#u591.MuseMenuActive,#u577:hover
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u577:active
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u577.MuseMenuActive
{
	width: 143px;
	min-height: 0px;
	margin: 0px;
}

#u580-4
{
	width: 143px;
	min-height: 24px;
	margin-right: -10000px;
	top: 27px;
}

#u591.MuseMenuActive #u593-4,#u577:hover #u580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u577:active #u580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#u577.MuseMenuActive #u580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 143px;
	margin: 0px -10000px 0px 0px;
}

#pu722-4
{
	width: 0.01px;
	margin-left: -100px;
}

#u722-4
{
	z-index: 12;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
}

#u368
{
	z-index: 18;
	width: 720px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 220px;
}

#por-que-consumir
{
	left: -100px;
	margin-top: 75px;
	position: relative;
}

#pu615
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 42px;
}

#u615
{
	z-index: 2;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u393-4
{
	z-index: 131;
	width: 393px;
	min-height: 111px;
	background-color: transparent;
	line-height: 108px;
	color: #000000;
	font-size: 90px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 114px;
	left: 222px;
}

#u394-4
{
	z-index: 135;
	width: 416px;
	min-height: 67px;
	background-color: transparent;
	line-height: 60px;
	color: #000000;
	font-size: 50px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 179px;
	left: 315px;
}

#u799
{
	z-index: 444;
	width: 662px;
	min-height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 173px;
	margin-top: 11px;
	position: relative;
}

#pu395-8
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 30px;
}

#u395-8
{
	z-index: 139;
	width: 312px;
	min-height: 385px;
	background-color: transparent;
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u405-9
{
	z-index: 178;
	width: 312px;
	min-height: 380px;
	background-color: transparent;
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 337px;
}

#u405-5
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#cadeia-produtiva
{
	left: -100px;
	margin-top: 146px;
	position: relative;
}

#pu725
{
	width: 0.01px;
	margin-left: 276px;
	margin-top: 33px;
}

#u725
{
	z-index: 10;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 267px;
}

#u398-4
{
	z-index: 147;
	width: 490px;
	min-height: 138px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
}

#u399-4
{
	z-index: 151;
	width: 519px;
	min-height: 84px;
	background-color: transparent;
	line-height: 96px;
	color: #000000;
	font-size: 80px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 111px;
}

#u801
{
	z-index: 445;
	width: 662px;
	min-height: 347px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 65px;
	margin-top: 28px;
	position: relative;
}

#setor-economico
{
	left: -100px;
	margin-top: 55px;
	position: relative;
}

#pu729
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 32px;
}

#u729
{
	z-index: 8;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u402-4
{
	z-index: 155;
	width: 510px;
	min-height: 111px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 220px;
}

#u403-4
{
	z-index: 159;
	width: 566px;
	min-height: 86px;
	background-color: transparent;
	line-height: 84px;
	color: #000000;
	font-size: 70px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 287px;
}

#pu406-18
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 13px;
}

#u406-18
{
	z-index: 187;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u404-15
{
	z-index: 163;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 439px;
}

#u788-4
{
	z-index: 265;
	width: 578px;
	min-height: 84px;
	background-color: transparent;
	line-height: 76px;
	color: #000000;
	font-size: 63px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	margin-left: 431px;
	margin-top: 99px;
	position: relative;
}

#pu790-49
{
	width: 0.01px;
	margin-left: 60px;
	margin-top: 52px;
}

#u790-49
{
	z-index: 308;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u789-39
{
	z-index: 269;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 439px;
}

#u791-4
{
	z-index: 357;
	width: 578px;
	min-height: 84px;
	background-color: transparent;
	line-height: 76px;
	color: #000000;
	font-size: 63px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	margin-left: 60px;
	margin-top: 100px;
	position: relative;
}

#pu409-4
{
	width: 0.01px;
	margin-left: 61px;
	margin-top: 51px;
}

#u409-4
{
	z-index: 218;
	width: 519px;
	min-height: 84px;
	background-color: transparent;
	line-height: 76px;
	color: #000000;
	font-size: 63px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 380px;
}

#u792-14
{
	z-index: 361;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 439px;
}

#u793-67
{
	z-index: 375;
	width: 403px;
	min-height: 602px;
	background-color: transparent;
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#pu794
{
	width: 0.01px;
	margin-left: 58px;
	margin-top: 5px;
}

#u794
{
	z-index: 442;
	width: 705px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u372-7
{
	z-index: 20;
	width: 167px;
	min-height: 317px;
	background-color: transparent;
	line-height: 14px;
	color: #534741;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 735px;
}

#pu743-4
{
	width: 0.01px;
	margin-left: 108px;
	margin-top: 86px;
}

#u743-4
{
	z-index: 229;
	width: 173px;
	min-height: 110px;
	background-color: transparent;
	line-height: 14px;
	color: #534741;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
}

#u365
{
	z-index: 16;
	width: 589px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 204px;
}

#politicas-publicas
{
	left: -100px;
	margin-top: 37px;
	position: relative;
}

#pu732
{
	width: 0.01px;
	margin-left: 293px;
	margin-top: 32px;
}

#u732
{
	z-index: 6;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 248px;
}

#u384-4
{
	z-index: 67;
	width: 490px;
	min-height: 138px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
}

#u385-4
{
	z-index: 71;
	width: 519px;
	min-height: 84px;
	background-color: transparent;
	line-height: 96px;
	color: #000000;
	font-size: 80px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 127px;
}

#pu387-34
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: -6px;
}

#u387-34
{
	z-index: 97;
	width: 403px;
	min-height: 527px;
	background-color: transparent;
	color: #534741;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u387-5,#u387-6,#u387-8,#u387-10,#u387-12,#u387-14,#u387-16,#u387-18,#u387-20,#u387-22,#u387-24,#u387-26
{
	font-family: open-sans, sans-serif;
	font-style: italic;
}

#u387-2,#u387-3,#u387-27,#u387-29,#u387-30,#u387-32
{
	font-family: open-sans, sans-serif;
}

#u386-22
{
	z-index: 75;
	width: 403px;
	min-height: 544px;
	background-color: transparent;
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 439px;
}

#evolucao
{
	left: -100px;
	margin-top: 4px;
	position: relative;
}

#pu735
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 31px;
}

#u735
{
	z-index: 4;
	width: 375px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u379-4
{
	z-index: 31;
	width: 393px;
	min-height: 111px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 220px;
}

#u381-13
{
	z-index: 54;
	width: 403px;
	min-height: 256px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 334px;
	left: 48px;
}

#u751
{
	z-index: 256;
	width: 842px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 592px;
	left: 48px;
}

#u774-4
{
	z-index: 260;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 592px;
	left: 721px;
}

#pu380-19
{
	width: 0.01px;
	margin-left: 59px;
	margin-top: 19px;
}

#u380-19
{
	z-index: 35;
	width: 403px;
	min-height: 385px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 439px;
}

#u744-23
{
	z-index: 233;
	width: 403px;
	min-height: 356px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u406-7,#u406-12,#u404-5,#u404-10,#u790-14,#u790-25,#u790-30,#u790-38,#u790-43,#u789-9,#u789-14,#u789-20,#u789-22,#u792,#u792-5,#u792-9,#u793-4,#u793-57,#u381-3,#u381-5,#u380-2,#u380-7,#u380-12,#u744-2,#u744-7,#u744-12
{
	color: #006837;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u406-2,#u406-4,#u406-5,#u406-9,#u406-10,#u406-14,#u406-15,#u406-16,#u404-2,#u404-3,#u404-7,#u404-8,#u404-12,#u404-13,#u790-5,#u790-6,#u790-8,#u790-9,#u790-11,#u790-12,#u790-22,#u790-23,#u790-27,#u790-28,#u790-32,#u790-33,#u790-35,#u790-36,#u790-40,#u790-41,#u790-45,#u790-46,#u790-47,#u789-2,#u789-3,#u789-6,#u789-7,#u789-11,#u789-12,#u789-19,#u789-27,#u789-28,#u789-30,#u789-31,#u789-33,#u789-34,#u789-36,#u789-37,#u381-2,#u381-7,#u381-8,#u381-9,#u381-10,#u381-11,#u380-4,#u380-5,#u380-9,#u380-10,#u380-14,#u380-15,#u380-16,#u380-17,#u744-4,#u744-5,#u744-9,#u744-10,#u744-14,#u744-15,#u744-16,#u744-17,#u744-18,#u744-19,#u744-20,#u744-21
{
	color: #534741;
	font-family: open-sans, sans-serif;
	font-weight: 400;
}

#u757
{
	z-index: 258;
	width: 841px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 1px;
}

#onde-encontrar
{
	left: -100px;
	margin-top: 67px;
	position: relative;
}

#u375-4
{
	z-index: 27;
	width: 750px;
	min-height: 138px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	margin-left: 59px;
	margin-top: 51px;
	position: relative;
}

#u783
{
	z-index: 264;
	width: 750px;
	min-height: 554px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 59px;
	margin-top: 54px;
	position: relative;
}

#quem-somos
{
	left: -100px;
	margin-top: 11px;
	position: relative;
}

#u407-4
{
	z-index: 205;
	width: 553px;
	min-height: 138px;
	background-color: transparent;
	line-height: 144px;
	color: #000000;
	font-size: 120px;
	font-family: '__Pale Blue Eyes_5';
	font-weight: 400;
	margin-left: 399px;
	margin-top: 83px;
	position: relative;
}

#u408-9
{
	z-index: 209;
	width: 403px;
	min-height: 122px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 498px;
	margin-top: 31px;
	position: relative;
}

#u380-3,#u408-2,#u408-3,#u408-5,#u408-6
{
	color: #534741;
}

#u408-7
{
	color: #7F7F7F;
}

@font-face
{
	font-family: '__Pale Blue Eyes_5';
	src: url('../fonts/pale_blue_eyes-webfont.eot');
	src: local('☺'), url('../fonts/pale_blue_eyes-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 99px;
}

#page .verticalspacer
{
	clear: both;
}

